

// Named Colors
@color-grey-m: #555;


@color-blue-m:  #00A8C6;
@color-blue-l:  #40C0CB;
@color-white:   #F9F2E7;
@color-green-l: #AEE239;
@color-green-m: #8FBE00;

// font-family: 'Alegreya Sans SC', sans-serif;
// font-family: 'Telex', sans-serif;
// font-family: 'Scada', sans-serif;


// General
@body-bg: @color-white;


// Brand
.brand {
    h1.brand-name {
        padding-top: 40px;
        padding-bottom: 2px;

        color: @color-grey-m;
        font-family: 'Telex', sans-serif;
        font-size: 110px;
        text-align: center;
        text-transform: lowercase;
    }

    .lead {
        margin-top: 30px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        color: #959595;
    }

    address {
        text-align: center;
        padding-top: 30px;

        a {
            color: @color-grey-m;
            font-family: 'Lato', sans-serif;
            font-size: 18px;
            line-height: 1.3;
        }
    }

}
